/* CSS Document */

*{margin:0; padding:0;}
body{ 
   font-size:15px;   
   background:url(../img/1.jpg);
   background-attachment:fixed;

}
p{color:#666;font:24px "Microsoft YaHei", Arial, Helvetica, sans-serif;line-height: normal;line-height: 1.5;}
li{ list-style:none;}
img{border:none; vertical-align:top;}
a{text-decoration:none; color:inherit;}
.clear:after{content:""; display:block; clear:both;}
video{height:360px;width:480px;autoplay:true;}
.zo{
	overflow:hidden;
    
}
.tou{
   float:left;
   overflow: hidden;
   height:1000px;
   width:100px;
   position:fixed;
   background: linear-gradient(90deg,#d0d0d0,#c36371,#f9f9f9,#d0d0d0);
   background-size:1400% 300%;
   animation:mymove 10s ease infinite;
   -webkit-animation: mymove 10s ease infinite;
   -moz-animation: mymove 10s ease infinite;
  
  
}
.tou-li{ 
   padding:15px;
   height:800px;
   width:70px;
   margin:auto;
   margin-top: 35px; 
}
.box-menu{
	width:auto;
	margin-top:15px;
	
	
}
.tou-tou{
	padding:50px 20px 20px 15px;
	width:auto;
}
.box-menu:hover {
	background-color:#C39AAD;
}
.about{
	float: right;
	height: 4000px;
	width: 600px;
	margin-top: 45px;
	margin-right: 650px;
	background-color: rgba(255,255,255,0.15)最后一个参数设置透明度，前面三个是RGB颜色值
	  
}
a{text-decoration:none}
.tu{float:left; position:fixed;margin-left:110px;margin-top:20px;}
@keyframes mymove
	{
		    0% {
			background-position: 0% 0%; }
					
			50% {
			background-position: 50% 100%; }
			
			100% {
			 background-position: 100% 0%; }
	}
